<div class="ideaDetailesSec">
 <div class="btns">
  <button
  class="backBtn"
  (click)="navHome()"
>
<i class="fa-solid fa-arrow-left"></i>
  back to home
</button>
  <div class="overview-btn">
    <button class="btn1"(click)="detailsCom()">Idea Overview</button>
    <button class="btn2" (click)="navAsseessment()"> Assessment Card</button>
  </div>

 </div>
  <div class="card shadow-lg">
    <div class="card-body">
      <h3 class="card-title">{{ currentIdea?.title }}</h3>

      <h4 class="mt-3">Description</h4>
      <p>{{ currentIdea?.description }}</p>

      <h4 class="mt-3">Problem Description</h4>
      <p>{{ currentIdea?.problemDescription }}</p>

      <h4 class="mt-3">Effect of the Idea</h4>
      <p>{{ currentIdea?.ideaEffect }}</p>

      <div class="totalRating">
        <i class="fa-solid fa-star"></i> <h6>{{ currentIdea?.totalEvaluation}}</h6>
      </div>
    </div>
  </div>
 